body {
    background-color: #ccd9ff;
    text-align: center;
} 

h1, h2, p {
    font-family: 'Lemonada', cursive;
}


#bookmark-form {
    display: flex;
    flex-direction: column;
}

.bookmarks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    text-align: center;
}